doctype html
html(lang="en")
  head
    title Pug Website!
    style
      include includes/style.css
    body
      header
        img(src="images/logo.png")
        
        nav
          ul
            a(href='#') Home
            a(href='#') About Us
            a(href='#') Contact
            a(href='#') Blog
            a(href='#') Menu
            a(href='#') Our Special
            
        main
          img(src="images/hero.png")
